---
name: Rust Testing
"on":
  push:

jobs:
  cargo_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
          fetch-depth: 1
      - name: Setup sccache
        uses: mozilla-actions/sccache-action@v0.0.9
        with:
          version: "v0.4.2"
      - name: "Run codegen"
        run: cargo run -p ocsf-codegen -- -d ./
      - name: "Run cargo test"
        run: cargo test
